.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: cornflowerblue !important;
  color: white !important;
}
.custom {
  padding: 1rem 1.5rem;
  background-color: beige;
  /* margin: auto; */
}
.mid {
  margin: auto;
}
.add-form {
  text-decoration: none;
  background-color: cornflowerblue;
  color: white;
  padding: 8px;
  border-radius: 7px;
}
.no-border{
  border: none;
}
.pe{
  cursor: pointer;
}
/* .hov:hover{
  background-color: rgb(14, 1, 138);
} */
#myBtn:hover {
  background-color: rgb(104, 87, 255);
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.modal-title {
  margin-bottom: 0;
  line-height: var(--bs-modal-title-line-height) !important;
  font-size: 1.25rem !important;
}
.w-33{
  width: 33% !important;
}