.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(205, 118, 255) !important;
}
.custom {
  padding: 0.5rem 6.5rem;
  background-color: beige;
  margin: auto;
}
.mid {
  margin: auto;
}
.add-form {
  text-decoration: none;
  background-color: rgb(205, 118, 255) !important;

  color: white;
  padding: 8px;
  border-radius: 7px;
}
