.card-img-top {
    margin-top: 1rem;
    height: 140px;
    width: 223px;
    padding-right: 2rem;
    padding-left: 2rem;
}
.custom1{
    width: 90%;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    align-items: center;
}
.card-body{
    text-align: center;
}
.img-custom{
    width: 100%;
}