.sticky{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.navbar {
  padding-bottom: 0;
}
.dropbtn {
  background: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .def-pointer{
    cursor: default !important;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #1e98e9;}
  .hov:hover {
    background-color: #c5cfff;;
  }



  /* -------------------------------------------------------------- */

  /* side bar starts */
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0px 0px 0px 0px;
  width: 225px;
  background-color: #f8f9fa;
  position: fixed;
  top: 52px;
  height: 100%;
  overflow: auto;
  font-size: 14px;
}
.sidebar-icons {
  margin-right: 5px;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 10px 0px 0px 10px;
  padding-bottom: 23px;
  text-decoration: none;
}
.sidebar a.sub-menu {
  display: block;
  padding: 10px 0px 20px 24px;
}
.sidebar a.parent-sub-menu {
  display: block;
  padding-bottom: 0px;
}

/* Active/current link */
.sidebar a.active {
  color: #be49db;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #be49db;
}
/* side bar ended */