.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: cornflowerblue !important;
  color: white !important;
}
.custom {
  padding: 1rem 1.5rem;
  background-color: beige;
  /* margin: auto; */
}
.mid{
  margin: auto;
}
.add-form{
  text-decoration: none;
    background: cornflowerblue;
    color: white;
    padding: 8px;
    border-radius: 7px;
}
.no-border{
  border: none;
}
#myBtn:hover{
  background-color: rgb(104, 87, 255);
}
.pe{
  cursor: pointer;
}
.w-33{
  width: 33% !important;
}
.modal-title {
 
  line-height: var(--bs-modal-title-line-height) !important;
  font-size: 1.25rem !important;
}
.active-cyan-4 input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=search] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
 .fa {
  color: #4dd0e1;
}